# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Misc
.DS_Store
.env
.env.local
npm-debug.log*
yarn-debug.log*

# Data Files (Too large for git)
*.csv
*.db
APP/public/properties.db
Assessment_Parcels*.csv
!APP/public/properties.db.gz
